*:hover,*:active{

  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
          transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
a{
	text-decoration: none;
} a:hover, a:active{
		text-decoration: underline;
	}

.item-grade-wrapper{
	text-align: right;
}
.score-disp{
	text-align: right;
	color: #2ecc71;
}

.itemBox{
	background: #ECF0F1;

	padding:1.25em 1.75em;
	margin: 1em 0;
}

#progress{
	cursor: hand;
	cursor: pointer;
}
#dispOnComplete{
	text-align: center;
}
#dispOnComplete .toggle-storage{
	color:#3498DB;
}
textarea{
	margin: 1em 0 0 0;
}

#auditReport{
	margin-top: 2em;
	text-align: center;
	-webkit-border-radius:6px;
	-webkit-border-radius:6px;
}

.comment {
	color: #808C94;
}

article > div > a.btn{margin-right: .75em; margin-bottom: .5em}

/* Item Box */
	hgroup{
		margin-bottom: 1em;
	}
	hgroup h3,hgroup h4{
		padding:0;
		color: #34495e;
		margin:0;
	}
	hgroup h4{
		font-size: 1em;
	}

/* Rubric*/
	.rubric hgroup h3{
		font-size: 2em;
	}
	.sectionTitle{
		background-color: #34495e;
		color: #677786;
		padding: 1em 1em .5em 1em;
	}
	#storage article p{
		font-size: 1em;
	}
	.sectionTitle small{
		float: right;
	}
	.rubric h2{
		float: right;
	}

.editor:hover{
	background-color: #F1E9C6;
	cursor: pointer;
}

.row article .itemBox:hover{
	background-color: #D2D6D7;
}

/* Flat Overrides*/
h1{font-size: 4em;}
.tagsinput .label, .tagsinput .btn{
	margin-bottom: .5em;
}